<div class="jumbotron my-jumbotron">
    <div class="container">
        <h1>快乐工作 健康生活</h1>
        <p>You cannot improve your past, but you can improve your future. Once time is wasted, life is wasted.</p>
        <p><a href="/clips/" class="btn btn-default btn-lg" role="button">进入我的剪贴板 »</a></p>
    </div>
</div>

<div class="container" style="padding-top:0;">
    <div class="row">
        <div class="col-md-4">
            <h2>简洁时尚</h2>
            <p>通常情况下，你并不需要一个功能强大的复杂的文档管理系统，而是需要一个简洁时尚的剪贴板应用。</p>
            <p>这款科技和艺术完美结合的了不起的剪贴板应用，专门为你打造而成，你一定会爱不释手的。</p>
        </div>
        <div class="col-md-4">
            <h2>多级分类</h2>
            <p>简洁，并不意味着妥协，在关键功能上我们从不妥协。</p>
            <p>我们为您提供了剪贴板分类的功能，以便更合理清晰的组织你的剪贴板信息。</p>
        </div>
        <div class="col-md-4">
            <h2>历史查看</h2>
            <p>上次写的信息丢失了，怎么办？</p>
            <p>Do not panic! 我们是不会让这种事情发生的，我们为每次信息的改动自动保存了历史，您可以随时查看。</p>
            <p>真正以人为本的应用，就要把功能做的贴心，我们做到了。</p>
        </div>
    </div>
</div>
