$def with(clip)
$var title: 修改 $clip.title

<ol class="breadcrumb">
    <li><a href="/">首页</a></li>
    <li><a href="/show/$clip.id">$clip.title</a></li>
    <li class="active">编辑</li>
</ol>
<form role="form" method="post" action="">
    <div class="form-group">
        <input type="hidden" class="form-control" name="title" value="$clip.title">
        <textarea class="form-control" rows="20" name="content">$clip.content</textarea>
    </div>
    <button type="submit" class="btn btn-primary">保存</button>
    <a class="btn btn-default" href="/show/$clip.id">取消</a>
</form>
